@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');
    font-weight: 100 200 400 500 600 700 900; 
    font-style: normal;
}


html, body {
    background-color: #121212;
    color: #fff;
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.testimonial-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto; 
    padding: 20px;
} 

.testimonial-heading-section h2 {
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    
}

.testimonial-heading-section p {
    font-size: 18px;
    width: 100%;
    max-width: 1000px;
    color: #FFFFFF;
    text-align: center;
    
}

.carousel-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

.carousel-container {
    display: flex;
    transition: transform 2s cubic-bezier(0.5, 0, 0.5, 1);
    gap: 45px; 
    padding-top: 50px;
    padding-bottom: 50px;
    will-change: transform;
    max-width: 1200px; 
    margin: 0 auto; 
}

.carousel-item {
    flex: 0 0 calc(33.33% - 45px); 
    max-width: calc(33.33% - 45px); 
    box-sizing: border-box;
    padding: 20px;
    background-color: #292929;
    border-radius: 10px;
    border: 1px solid #FFFFFF1A;
    color: #FFFFFF99;
    text-align: center;
    position: relative;
    overflow: hidden; 
    transition: all 0.3s ease-in-out;
   
}

.carousel-item:hover::before {
    content: '';
    position: absolute;
    top: -3px; 
    left: -3px; 
    right: -3px; 
    bottom: -3px;
    border-radius: 12px; 
    padding: 2px;
    background: linear-gradient(60deg, #3a3a3a, #000000 );
    background-size: 300% 300%;
    animation: gradientBorder 5s ease infinite;
    z-index: -1;
}

.carousel-item > * {
    position: relative;
    z-index: 1;
}

.carousel-item.highlight {
    transform: scale(1.1); 
    z-index: 2;
    border-color: #fff;
}

.carousel-item:nth-child(3) { 
    transform: scale(1.1); 
    z-index: 2;
}

.carousel-item:hover {
    border-color: #fff;
}

.carousel-item h3 {
    font-size: 16px;
    color: #FFFFFF99;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-top: 4px;
}

.carousel-item p {
    font-size: 14px;
    color: #FFFFFFCC;
    font-weight: 400;
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
}

.carousel-section::before, 
.carousel-section::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 1;
}

.carousel-section::before {
    left: 0;
    background: linear-gradient(to right, #121212, transparent);
}

.carousel-section::after {
    right: 0;
    background: linear-gradient(to left, #121212, transparent);
}

.up {
    animation: moveUp 12s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
    animation-play-state: running;
}

.down {
    animation: moveDown 12s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
    animation-play-state: running;
}

.carousel-container:hover .carousel-item.down,
.carousel-container:hover .carousel-item.up {
    animation-play-state: paused;
}

@keyframes gradientBorder {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes moveUp {
    0% {
        transform: translateY(45px); 
    }
    20% {
        transform: translateY(45px);
    }
    55% {
        transform: translateY(-45px);
    }
    60% {
        transform: translateY(-45px);
    }
    100% {
        transform: translateY(45px); 
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-45px);
    }
    20% {
        transform: translateY(-45px);
    }
    55% {
        transform: translateY(45px);
    }
    60% {
        transform: translateY(45px);
    }
    100% {
        transform: translateY(-45px);
    }
}

@media (max-width: 768px) {
    .testimonial-heading-section h2 {
        font-size: 28px;
    }

    .testimonial-section {
        box-sizing: border-box;
    }

    .testimonial-heading-section p {
        font-size: 14px;
    }
}
